<launch>

    <arg name="gazebo" default="True"/>
    <arg name="teleop" default="keyboard"/>

    <group if="$(eval arg('gazebo'))">
        <include file="$(find lunar_excavator_gazebo)/launch/gazebo.launch" />
        <include file="$(find lunar_excavator_roscontrol)/launch/roscontrol.launch" />
    </group>

    <group ns="excavator">
        <node name="core" pkg="lunar_excavator_core" type="simulation.py" output="screen"/>
    </group>

    <group if="$(eval arg('teleop')=='keyboard')">
        <node name="lunar_excavator_teleop" pkg="lunar_excavator_input" type="lunar_excavator_teleop_keyboard.py" output="screen"
            launch-prefix="gnome-terminal --command"/>
    </group>

</launch>